@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared Style  */
.fixed_container{
    max-width: 1160px;
    margin: 0 auto;
}
img{
    margin-bottom: -4px;
}
.title_size{
    font-size: 2.9rem;
    text-align: center;
}
.primary_color{
    color: rgba(254, 163, 1, 1);
}
.secondary_color{
    color: rgba(1, 172, 253, 1);
}
.dark_2{
    color: rgba(17, 17, 17, 1);
}
.dark_3{
    color: rgba(128, 128, 128, 1);
}
.primary_btn {
    display: inline-block;
    padding: 10px 60px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    font-size: 1.25rem;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}
.d_flex{
    display: flex;
}
.space_between{
    justify-content: space-between;
}
.align_center{
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}



/* Header Style  */
header {
    padding: 10px 0px;
}
nav .main_menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
nav .main_menu ul > :nth-child(2) a{
    color: rgba(1, 172, 253, 1);
}
nav .main_menu ul > :nth-child(3) a{
    color: rgba(5, 212, 223, 1);
}
nav .main_menu ul > :nth-child(4) a{
    color: rgba(93, 88, 239, 1);
}
nav .main_menu ul li a {
    padding: 7px 17px;
    margin-right: 4px;
    font-size: 1.25rem;
}

.menu_icon{
    display: none;
}
.menu_icon span{
    display: inline-block;
}
.menu_icon span i {
    font-size: 3rem;
}

/* Hero Section Style  */
.hero_content{
    padding: 20px 0px;
}
.hero_left{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_left h1 {
    font-size: 3.5rem;
    margin-right: 75px;
}
.hero_left p {
    margin: 24px 0px;
    line-height: 1.4rem;
    font-size: 1.25rem;
}
.hero_left .hero_btn button {
    background-color: black;
    padding: 15px 50px;
}
.hero-right{
    flex-basis: 40%;
}
.hero-right .hero_img{
    justify-content: center;
    align-items: center;
}
.hero-right .hero_img img{
    max-width: 100%;
}

@media screen and (max-width: 566px) {
    .fixed_container{
        width: 90%;
        margin: auto;
    }
    /* Header Section  */
    header{
        border-bottom: 1px solid orange;
    }
    nav .main_menu{
        display: none;
    }
    nav .nav_btn{
        display: none;
    }
    nav .brands_name{
        display: none;
    }
    .menu_icon{
        display: block;
        cursor: pointer;
    }

    /* Hero Section  */
    .hero_content{
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .hero_left h1 {
        font-size: 2rem;
        margin-right: 0px;
    }
    .hero_left{
        text-align: center;
    }
    .empower{
        display: block;
    }
}

@media screen and (min-width:567px) and (max-width:767px) {
    .fixed_container{
        width: 90%;
        margin: auto;
    }
    /* Header Section  */
    nav{
        flex-direction: column;
        row-gap: 20px;
    }
    /* Hero Section  */
    .hero_content{
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .hero_left h1 {
        font-size: 2.5rem;
        margin-right: 0px;
    }
    .hero_left{
        text-align: center;
    }
    .empower{
        display: block;
    }
}













.hide{
    display: none;
}